<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlf.creator.dao.user.product.DocumentMapper" >

  <resultMap id="BaseResultMap" type="com.tlf.creator.entity.user.product.Document" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="version_id" property="versionId" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, created_at, updated_at, deleted_at, name, size, type, version_id,path
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from document
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByVersion" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from document
    where version_id = #{versionId} and deleted_at is null order by created_at
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update document set deleted_at = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insert" parameterType="com.tlf.creator.entity.user.product.Document" >
    insert into document (id, created_at, updated_at, 
      deleted_at, name, size, 
      type, version_id,path)
    values (#{id,jdbcType=VARCHAR}, now(), now(),
      null, #{name,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{versionId,jdbcType=VARCHAR},#{path,jdbcType=VARCHAR})
  </insert>

</mapper>