<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlf.creatoraccount.dao.ClassAndCourseMapper">
    <resultMap id="ClassAndCourseResultMap" type="com.tlf.creatoraccount.pojo.ClassesAndCourses">
        <id property="id" column="id" javaType="java.lang.String"/>
        <result property="createdAt" column="created_at" javaType="java.sql.Timestamp"/>
        <result property="updatedAt" column="updated_at" javaType="java.sql.Timestamp"/>
        <result property="deletedAt" column="deleted_at" javaType="java.sql.Timestamp"/>
        <result property="classesId" column="classes_id" javaType="java.lang.String"/>
        <result property="coursesId" column="courses_id" javaType="java.lang.String"/>
    </resultMap>

    <select id="selectClassByCourseId" resultMap="ClassAndCourseResultMap">
        select id,classes_id,courses_id from classes_and_courses where deleted_at is null and courses_id = #{coursesId}
    </select>

    <select id="selectCourseByClassId" resultMap="ClassAndCourseResultMap">
        select id,classes_id,courses_id from classes_and_courses where deleted_at is null and classes_id = #{classesId}
    </select>

    <insert id="insertClassAndCourse">
        insert into classes_and_courses (id, created_at, updated_at, deleted_at, classes_id, courses_id) values
        (#{id},now(),now(),null,#{classesId},#{coursesId})
    </insert>

    <update id="deleteClassAndCourse">
        update classes_and_courses set deleted_at = now() where courses_id=#{coursesId} and classes_id=#{classesId}
    </update>

    <update id="deleteClassAndCourseByCourse">
        update classes_and_courses set deleted_at = now() where courses_id=#{coursesId}
    </update>

    <update id="updateClassByCourseId">
        update classes_and_courses set classes_id = #{classesId} where courses_id = #{coursesId} and classes_id=#{classId}
    </update>

    <update id="deleteCourseAndClassByClass">
        update classes_and_courses set deleted_at = now() where classes_id = #{classesId}
    </update>
</mapper>