<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlf.creatoraccount.dao.OnlineMapper" >

  <resultMap id="BaseResultMap" type="com.tlf.creatoraccount.pojo.Online" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="online_time" property="onlineTime" jdbcType="DOUBLE" />
    <result column="login" property="login" jdbcType="BIGINT" />
    <result column="logout" property="logout" jdbcType="BIGINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, account_id, online_time, login, logout
  </sql>

  <select id="selectByAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from online
    where account_id = #{accountId,jdbcType=VARCHAR}
  </select>

  <select id="selectAllTime" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from online
  </select>


  <insert id="insert" parameterType="com.tlf.creatoraccount.pojo.Online" >
    insert into online (id, account_id, online_time, login, logout)
    values (#{id,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{onlineTime,jdbcType=DOUBLE}, 
      #{login,jdbcType=BIGINT}, #{logout,jdbcType=BIGINT})
  </insert>

  <update id="updateLoginByAccount" >
    update online set login = #{login,jdbcType=BIGINT}
    where account_id = #{accountId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateOnlineByAccount">
    update online set online_time = #{onlineTime,jdbcType=DOUBLE} where account_id = #{accountId,jdbcType=VARCHAR}
  </update>

</mapper>