<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlf.creatorcourse.dao.resource.ResourceMapper">
    <resultMap id="ResourceResultMap" type="com.tlf.creatorcourse.entity.resource.Resources">
        <id property="id" column="id" javaType="java.lang.String"/>
        <result property="createdAt" column="created_at" javaType="java.sql.Timestamp"/>
        <result property="updatedAt" column="updated_at" javaType="java.sql.Timestamp"/>
        <result property="deletedAt" column="deleted_at" javaType="java.sql.Timestamp"/>
        <result property="creatorId" column="creator_id" javaType="java.lang.String"/>
        <result property="resourceTypeId" column="resource_type_id" javaType="java.lang.String"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="path" column="path" javaType="java.lang.String"/>
    </resultMap>

    <select id="queryResources" resultMap="ResourceResultMap">
        select id,created_at,updated_at,deleted_at,creator_id,resource_type_id,name,path from resources where deleted_at is null limit #{offset},#{limit};
    </select>

    <select id="queryResourceById" resultMap="ResourceResultMap">
        select id,created_at,updated_at,deleted_at,creator_id,resource_type_id,name,path from resources
        where id = #{id}
    </select>

    <select id="queryResourceByTypeId" resultMap="ResourceResultMap">
        select id,created_at,updated_at,deleted_at,creator_id,resource_type_id,name,path from resources
        where resource_type_id = #{resourceTypeId} and deleted_at is null limit #{offset},#{limit}
    </select>

    <insert id="addResource">
        insert into resources(id,created_at,updated_at,deleted_at,creator_id,resource_type_id,name,path) values
        (#{id},now(),now(),null,#{creatorId},#{resourceTypeId},#{name},#{path})
    </insert>

    <select id="queryTotalResource" resultType="java.lang.Integer">
        select count(*) from resources where  deleted_at is null;
    </select>

    <select id="queryTotalResourceByTypeId" resultType="java.lang.Integer">
       select count(*) from resources where resource_type_id = #{resourceTypeId} and deleted_at is null ;
    </select>

    <update id="updateResource">
        update resources set updated_at = now(),creator_id=#{creatorId},resource_type_id = #{resourceTypeId},name = #{name},path=#{path} where id = #{id}
    </update>
</mapper>