<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlf.creatorcourse.dao.simulationresource.SimulationResourceMapper">
    <resultMap id="BaseResultMap" type="com.tlf.creatorcourse.entity.simulation.SimulationResource">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="innerr" property="inner" jdbcType="BIT"/>
        <result column="type_id" property="typeId" jdbcType="VARCHAR"/>
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="exp_type_id" property="expTypeId" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="SimulationResourcePOResultMap" type="com.tlf.creatorcourse.po.SimulationResourcePO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="innerr" property="inner" jdbcType="BIT"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" jdbcType="VARCHAR"/>
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="exp_type_id" property="expTypeId" jdbcType="VARCHAR"/>
        <result column="alias" property="simType" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, created_at, updated_at, deleted_at, name, innerr, type_id, creator_id, path,exp_type_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from simulation_resource
        where id = #{id,jdbcType=VARCHAR} and deleted_at is null
    </select>

    <select id="selectAllName" resultType="java.lang.String">
        select name from simulation_resource where deleted_at is null;
    </select>

    <select id="selectListInner" resultMap="SimulationResourcePOResultMap" parameterType="java.lang.Integer">
        SELECT simulation_resource.id,simulation_resource.created_at,simulation_resource.`name`,simulation_resource.innerr,simulation_resource.type_id,
        simulation_resource.creator_id,simulation_resource.path,scene_type.`name` 'type_name',scene_type.alias,simulation_resource.exp_type_id
        FROM scene_type ,simulation_resource
        WHERE scene_type.id = simulation_resource.type_id and simulation_resource.deleted_at is null and simulation_resource.innerr = 1 order by simulation_resource.updated_at desc limit #{offset},#{limit}
    </select>

    <select id="selectListNotInner" resultMap="SimulationResourcePOResultMap">
        SELECT simulation_resource.id,simulation_resource.created_at,simulation_resource.`name`,simulation_resource.innerr,simulation_resource.type_id,
        simulation_resource.creator_id,simulation_resource.path,scene_type.`name` 'type_name',scene_type.alias,simulation_resource.exp_type_id
        FROM scene_type ,simulation_resource
        WHERE scene_type.id = simulation_resource.type_id and simulation_resource.deleted_at is null and simulation_resource.innerr = 0 and creator_id = #{creatorId} order by simulation_resource.updated_at desc limit #{offset},#{limit}
    </select>

    <select id="selectTotalInner" resultType="java.lang.Integer">
        select count(*) from simulation_resource where deleted_at is null and innerr = 1
    </select>

    <select id="selectTotalNotInner" resultType="java.lang.Integer">
        select count(*) from simulation_resource where deleted_at is null and innerr = 0 and creator_id = #{creatorId}
    </select>

    <select id="selectById" resultMap="SimulationResourcePOResultMap" parameterType="java.lang.String">
        SELECT simulation_resource.id,simulation_resource.created_at,simulation_resource.`name`,simulation_resource.innerr,simulation_resource.type_id,
        simulation_resource.creator_id,simulation_resource.path,scene_type.`name` 'type_name',scene_type.alias,simulation_resource.exp_type_id
        FROM scene_type ,simulation_resource
        WHERE scene_type.id = simulation_resource.type_id and simulation_resource.deleted_at is null and simulation_resource.id = #{id,jdbcType=VARCHAR}
  </select>

    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        update simulation_resource set deleted_at = now()
        where id = #{id,jdbcType=VARCHAR}
  </update>

    <insert id="insert" parameterType="com.tlf.creatorcourse.entity.simulation.SimulationResource">
        insert into simulation_resource (id, created_at, updated_at, deleted_at, name, innerr,type_id, creator_id, path,exp_type_id)
        values (#{id,jdbcType=VARCHAR}, now(), now(), null, #{name,jdbcType=VARCHAR}, #{inner,jdbcType=BIT},
        #{typeId,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},#{expTypeId})
  </insert>

    <insert id="insertSelective" parameterType="com.tlf.creatorcourse.entity.simulation.SimulationResource">
        insert into simulation_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="deletedAt != null">
                deleted_at,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="inner != null">
                innerr,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="path != null">
                path,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedAt != null">
                #{deletedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="inner != null">
                #{inner,jdbcType=BIT},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.tlf.creatorcourse.entity.simulation.SimulationResource">
        update simulation_resource
        <set>
            <if test="updatedAt == null">
                updated_at = now(),
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="inner != null">
                innerr = #{inner,jdbcType=BIT},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeyB" parameterType="com.tlf.creatorcourse.entity.simulation.SimulationResource">
        update simulation_resource
        set created_at = now(),
          updated_at = now(),
          deleted_at = null,
          name = #{name,jdbcType=VARCHAR},
          innerr = #{inner,jdbcType=BIT},
          type_id = #{typeId,jdbcType=VARCHAR},
          creator_id = #{creatorId,jdbcType=VARCHAR},
          path = #{path,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>